body{
    background-color:#d3e0ea;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #0a043c;
}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    /*color: #0a043c;*/
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    /*color:#0a043c;*/
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a{
    color:#EAF6F6;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}

a:hover{
    color: orangered;
}

p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 5px;
    border-bottom: 0px;
    width: 4%;
    margin:100px auto;
}
/*top-conatiner css*/
.top-container{
    background-color: #00917c;
    position: relative;
    padding-top: 100px;
}

/*middle-container*/
.middle-container{
    margin: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}



.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.bottom-container{
    /*background-color:   #8bcdcd;*/
    background-color: #00917c;
    padding: 50px 0 20px;
}


/* for inside the top-container images*/

.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}

.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 250px;
}

/*for content images*/
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px ;
}

.photo-img{
    width: 25%;
    float: right;
    margin-left: 30px ;
}

/*.skill1-desc{
    clear: left;
}

.skill2-desc{
    clear: right;
}*/

.message-me{
    width:40%;
    margin: 40px auto 60px;
}

.btn {
    background: #0096fa;
    background-image: -webkit-linear-gradient(top, #0096fa, #31749e);
    background-image: -moz-linear-gradient(top, #0096fa, #31749e);
    background-image: -ms-linear-gradient(top, #0096fa, #31749e);
    background-image: -o-linear-gradient(top, #0096fa, #31749e);
    background-image: linear-gradient(to bottom, #0096fa, #31749e);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #21c42c;
    background-image: -webkit-linear-gradient(top, #21c42c, #68ab11);
    background-image: -moz-linear-gradient(top, #21c42c, #68ab11);
    background-image: -ms-linear-gradient(top, #21c42c, #68ab11);
    background-image: -o-linear-gradient(top, #21c42c, #68ab11);
    background-image: linear-gradient(to bottom, #21c42c, #68ab11);
    text-decoration: none;
  }

  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0;
  }